{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig" %}

{% block pageTitle %}Lista rejestracji | {{ parent() }}{% endblock %}
{% block contentConteiner %}
    <article class="col-md-8">
        <h1>Lista rejstracji</h1>

    </article>
{% endblock %}
