{% import 'EduwebTrainingBundle:Blog:macros.html.twig' as blogMacros %}
{{ blogMacros.widgetList('W portfelu',list,'Pełny dziennik',"#") }}

{#<section class="widget">#}
{#    <h2>W portfelu</h2>#}
{#    <ul>#}
{#        {% for item in list %}#}
{#            <li>{{  item }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <p><a class="btn btn-default" href="#" role="button">Pełny dziennik &raquo;</a></p>#}
{#</section>#}

