<section class="widget">
    <h2>W portfelu</h2>
    <ul>
        {% for item in list %}
            <li>{{  item }}</li>
        {% endfor %}
    </ul>
    <p><a class="btn btn-default" href="#" role="button">Pełny dziennik &raquo;</a></p>
</section>

