{% extends "EduwebTrainingBundle:Blog:sidebarLayout.html.twig" %}

{% block pageTitle%}Kontakt | {{parent()}}{% endblock %}
{% block contentConteiner %}
    <article class="col-md-8 contact">

        <h1>Kontakt</h1>
        <p>Aby się ze mną skontaktować skorzystaj z poniższego formularza.</p>

        <div class="alert alert-success">
            <strong>Dzięki!</strong> Twoja wiadomość została wysłana!
        </div>

        <div class="alert alert-danger">
            <strong>Ups...</strong> Niestety nie udało się wysłać wiadomości... Spróbuj jeszcze raz!
        </div>

        <div class="alert alert-warning">
            <strong>Ups...</strong> Popraw błędy formularza!
        </div>

        {{ form(form, {'attr':{"novalidate":"true"}} ) }}

    </article>
{% endblock %}
{% block jsblock %}
    {{ parent() }}
    <script src={{ asset('bundles/eduwebtraining/js/contact-page.js')}}></script>
{% endblock %}
